/* DEFAULTS
----------------------------------------------------------*/

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.panel-menu{ margin-top: 60px;}